body{
    margin: 0;
    padding: 0;
    background-color: #E1D8CF;
}
/*div{
    border: 1px solid black;
}*/
.logo{
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    color: aliceblue;
}
.navi{
    display: flex;
    justify-content: space-between;
    background-color: #373741;
}
.navi>div{
    margin: 10px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.menu>div{
    margin: 5px;
    padding: 5px;
    color: aliceblue;
}
.about-me{
    display: flex;
    background-image: url(https://c.wallhere.com/photos/6b/59/1920x1440_px_Beautiful_dog_puppy-1640751.jpg!d);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    align-items: center;
    text-align: justify;
    
}
.about-me>div{
    margin: 30px 80px;
    padding: 10px;
    width: 20%;
    color: aliceblue;
}
.species{
    display: flex;
    flex-direction: column;
}
.species>div{
    margin:25px;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    color: #373741;
    font-weight: bold;
}
.img{
    display: flex;
    justify-content: space-around;
}
.img>div{
    margin: 25px;
}
.shop{
    display: flex;
    justify-content: center;
}
.shop>div{
    margin: 30px;
}
.content-shop{
    display: flex;
    justify-content: center;
    width: 50%;
}
.content-shop>div{
    background-color: lightgray;
    border-radius: 5px;
    width: 50%;
    padding: 20px;
}
.inform>div{
    margin: 20px;
    padding: 10px;
}
.button{
    width: 30%;
    float: right;
    text-align: center;
    border-radius: 10px;
    background-color: #373741;
    color: aliceblue;
}
.shop-img{
    background-image: url(https://i.pinimg.com/564x/ca/13/59/ca1359d784eef4d6bb4256dff0ab0156.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img{
    border-radius: 10px;
}